# dependencies
node_modules/

# env files (VERY IMPORTANT)
.env
.env.local
.env.production

# build files
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# backend uploads
uploads/