.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 800;
  cursor: pointer;
}

.logo-icon {
  font-size: 32px;
}

.logo-text {
  font-size: 34px;
  font-weight: 800;

  background: linear-gradient(
    90deg,
    #00c6ff,
    #0072ff,
    #7b61ff
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  letter-spacing: 1px;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}